@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

.fontnormal {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.fontPoppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.fontRadioCanada {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.hoverli {
  font-weight: 500;
}
.hoverli:hover {
  text-decoration: underline;
  cursor: pointer;
}
.homepage {
  background: linear-gradient(
      rgba(253, 253, 253, 0.83),
      rgba(231, 229, 229, 0.789)
    ),
    url("./assets/slider_img_1.png");
  width: full;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.outerBackground {
  background: linear-gradient(
    rgba(232, 232, 232, 0.78),
    rgba(255, 255, 255, 0.956)
  );
}
/* .card:hover {
  transform: scale(1.02);
  transition: ease-in 0.3s;
} */
.card{
  border: 100px solid #445eea;
}
#box {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  transition: transform 0.1s ease;
}
.Zlogo{
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}